*.pyc
setup.cfg
/*.egg
/build
*.egg-info
/cov*
/.coverage
/rsb/protocol
/rsb/version.py
/test/with-*.conf
/dist
/gitversion
/gitbranch
/MANIFEST
/.eggs
/.tox
/tags
/.exrc
/.mypy_cache/
/.python-version
/.ropeproject/
