language: python
dist: xenial
sudo: true
matrix:
  include:
    - python: 3.6
    - python: 3.7
before_install:
  - sudo add-apt-repository ppa:maarten-fonville/protobuf -y
  - sudo apt-get update -q
  - sudo apt-get install protobuf-compiler
install:
  - pip install tox-travis codecov
script:
  - tox
env:
  - 'COVERAGE_COMMAND=codecov -e TOXENV'
